{
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^react/(.*)$",
    "^next/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^lib",
    "^sections",
    "^components",
    "^utils",
    "^types",
    "^[./]",
    "^(.*).css"
  ]
}
